{% extends 'base.html.twig' %}

{% block title %}Forum - Accueil{% endblock %}

{% block body %}
<main>
    <h1>Accueil</h1>

    <a href="{{ path('app_forum_list') }}">Forum</a>
    
</main>
{% endblock %}
