{% extends 'base.html.twig' %}

{% block title %}Forum - Accueil{% endblock %}

{% block body %}
<main class="home">
    <h1>Bienvenue {{ app.user ? app.user.pseudo : "" }}</h1>

    <a class="home__link" href="{{ path('app_forum_list') }}">Voir toutes les catégories</a>
</main>
{% endblock %}
