<footer>
    <div class="footer">
        <a href="{{ path('app_home') }}"><p class='footer__title'>FORUM TITLE</p></a>
        <section>
            <div class="footer__div">
                <h2>Information</h2>
                <ul>
                    <li>A propos</li>
                    <li>Conditions générales d'utilisation</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="footer__div">
                <h2>Lorem Ipsum</h2>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                </ul>
            </div>
        </section>
    </div>
</footer>