<footer>
    <div class="footer">
        <a href="{{ path('app_home') }}"><p class='footer__title'>TITRE FORUM</p></a>
        <section>
            <div class="footer__div">
                <h2>Information</h2>
                <ul>
                    <a href="{{ path('app_footer_about') }}"><li>A propos</li></a>
                    <a href="#"><li>Conditions générales d'utilisation</li></a>
                    <a href="#"><li>Contact</li></a>
                </ul>
            </div>
            <div class="footer__div">
                <h2>Lorem Ipsum</h2>
                <ul>
                    <a href="#"><li>Lorem ipsum</li></a>
                    <a href="#"><li>Lorem ipsum</li></a>
                    <a href="#"><li>Lorem ipsum</li></a>
                    <a href="#"><li>Lorem ipsum</li></a>
                </ul>
            </div>
        </section>
    </div>
</footer>