{% extends 'base.html.twig' %}

{% block title %}Forum - A propos{% endblock %}

{% block body %}
<main class="about">
    <h1>A propos</h1>
    <section>
        <ul>
            <li>- Le depot distant du projet : <a class="about__link" href="https://github.com/julabina/forum-symfony">GitHub</a></li>
            <li>- Mon portfolio : <a class="about__link" href="https://www.julienlenfume.com/">julienlenfume.com</a></li>
            <li>- Mon profil LinkedIn : <a class="about__link" href="https://www.linkedin.com/in/julien-lenfum%C3%A9-bb2979215/">Lenfumé Julien</a></li>
        </ul>

    </section>
</main>
{% endblock %}
