.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 1.8em;
        font-weight: 500;
        margin: 130px 0 70px;
    }
    li {
        margin-bottom: 10px;
    }
    &__link {
        color: blue;
        
    }
}